
/* Carrousel */

.section-title {
  font-size: 1.7vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 0.5em;
}

.movie-list-wraper {
  position: absolute;
  z-index: 1;
}


.movie-list {
  display: flex;
  justify-content: flex-start;
  transition-duration: 0.45s;
  transition-property: transform;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
  padding-top: 3%;
  padding-bottom: 3%;
}
.movie-list::-webkit-scrollbar {
  width: 0 !important;
}

.movie {
  box-sizing: border-box;
  font-size: 0.7em;
  color: white;
  margin: 0 10px;
  line-height: 1.4;
  padding: 0 10px;
  width: 18%;
  height: 100%;
  flex-shrink: 0;
  background-size: contain;
  transition-duration: 0.45s;
  transition-property: transform;
  background-image: url(https://occ-0-2173-185.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABRjc7evggkSg5StSFX2k-Iu_B6JwN3OGw6U4GIHIroA67WmUlduG_oFGCLDJRZbN1fnG2bsOxTkqQmYUZv9bndtQsofanT7y.webp?r=146);
}

.movie-info-wrapper {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movie p {
  margin: 0;
}

.movie > div {
  opacity: 0;
}

.movie:hover > div {
  opacity: 1;
}
.movie-list:hover .movie:hover {
  transform: scale(1.5) translateX(40px);
}

.movie:hover ~ .movie {
  transform: translateX(120px);
}

.icon-play {
  width: 7%;
  height: 7%;
  fill: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px 1% 3px 2%;
  background-color: rgba(0, 0, 0, 0.63);
}

.movie-info-wrapper:hover .icon-play {
  fill: #e63d26;
}

.movie-title {
  font-size: 1.2em;
  font-weight: bold;
}

.movie-details .accuracy {
  color: #67d469;
}

.movie-details .age {
  border: 1px solid white;
  padding: 0 5%;
}

.movie-categories {
  font-size: 0.8em;
}

.movie-categories span {
  color: rgb(105, 105, 105);
}

.movie-reactions {
  width: 20%;
}

.movie-reactions svg {
  display: block;
  width: 20%;
  height: 20%;
  fill: white;
  border: 1px solid rgba(65, 65, 65, 0.74);
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.63);
  margin-top: 5px;
  transition-duration: 0.3s;
}

.movie-reactions svg:hover {
  border: 1px solid white;
  transform: scale(1.1);
}

.movie-extra {
  display: flex;
  justify-content: center;
}

.movie-extra svg {
  fill: white;
}

.movie-extra svg:hover {
  fill: #e63d26;
}

/* End Carrousel */
