body {
  width: 100%;
  display: grid;
  grid-template: 1fr 3fr 2fr 2fr 2fr/ 1fr;
  /* Fonts used in Netflix */
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #000;
  /* end changes */
}

nav {
  border: 1px solid red;
  grid-area: 1/1/2/2;
}
header {
  border: 1px solid blue;
  grid-area: 1/1/3/2;
}
.sec1 {
  border: 1px solid green;
  grid-area: 3/1/4/2;
}
.sec2 {
  border: 1px solid pink;
  grid-area: 3/1/4/2;
}
.sec3 {
  border: 1px solid black;
  grid-area: 3/1/4/2;
}
/* Carlos A. styles navbar */
/* Fakeflix logo */
.navbar #logo {
  margin-right: 20px;
}
.navbar #logo a {
  display: inline-block;
  width: 93px;
  height: 25px;
  margin-left: 10px;
  text-indent: -10000px;
  background-image: url(../images/fakeflix.png);
  background-size: 93px 25px;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  z-index: 1;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  padding: 0 10px;
}

#navbar-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#first-nav a {
  color: #e5e5e5;
}

#first-nav a:hover {
  color: #c5c5c5;
}

.navbar .active {
  font-weight: bold;
  color: #fff;
}

#second-nav {
  align-items: center;
}

#second-nav a {
  color: #fff;
}

#second-nav #user-control svg {
  transform: rotate(180deg) scale(.5);
}
/* user menu */
#user-options {
  display: none;
}

#second-nav #user-control:hover #user-options {
  display: flex;
  flex-direction: column;
  position: absolute;

}

/* Fin Carlos A. navbar */
/* Carrousel */

.movie-list {
  display: flex;
  justify-content: center;
  transition-duration: 0.45s;
  transition-property: transform;
}

.movie {
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  width: 245px;
  height: 138px;
  background-size: 100%;
  transition-duration: 0.45s;
  transition-property: transform;
  background-image: url(https://occ-0-2173-185.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABRjc7evggkSg5StSFX2k-Iu_B6JwN3OGw6U4GIHIroA67WmUlduG_oFGCLDJRZbN1fnG2bsOxTkqQmYUZv9bndtQsofanT7y.webp?r=146);
}

.movie p {
  margin: 0;
}

.movie-list:hover {
  transform: translateX(-10px);
}

.movie:hover {
  transform: scale(1.5);
}

.movie:hover ~ .movie {
  transform: translateX(60px);
}
