* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.section {
  position: relative;
  width: 100%;
  height: 56.25vw;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  overflow: hidden;
  z-index: 1;
}

.section .preview-information {
  font-size: 2em;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 30%;
  left: 0;
  right: 0;
  z-index: 1;
  color: white;
}

.prueba {
  top: 0;
  padding-top: 20vw;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-container video {
  width: 100%;
}

.preview-information {
  text-align: left;
}

.preview-information ul {
  list-style-type: none;
}

.preview-information ul li {
  display: inline;
}

.button-preview {
  text-decoration: none;
  padding: 10px 40px;
  font-size: 0.5em;
  color: white;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 10px;
}

.button-preview:hover {
  background-color: white;
  color: black;
}

.preview-subtitle {
  font-size: 0.65em;
}

@media only screen and (max-width: 1200px) {
  .section .preview-information {
    width: 30%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .section .preview-information {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .section .preview-information {
    width: 50%;
  }
}
