/* Carlos A. CSS nav code */
/* Code that won't change at all */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar #logo {
  margin-right: 20px;
}

.navbar #logo a {
  display: inline-block;
  width: 93px;
  height: 25px;
  margin-left: 10px;
  text-indent: -10000px;
  background-image: url(../images/fakeflix.png);
  background-size: 93px 25px;
  background-repeat: no-repeat;
}

.navbar #main-group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar li {
  padding: 0 10px;
}

.navbar li a {
  color: #e5e5e5;
  text-decoration: none;
}

.navbar #main-group a {
  color: #e5e5e5;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

.navbar #main-group #browse-control {
  display: none;
}

.navbar #main-group #browse-control-menu {
  display: none;
}

.navbar #main-group a:hover {
  color: #a5a5a5;
}

.navbar #main-group #browse-control:hover > #browse-control-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #000;
  border: 1px solid red;
  position: absolute;
  top: 50px;
  right: 300px;
}

#browser-control-menu li {
  margin: 8px 0;
}

.navbar .menu-active {
  color: #fff;
  font-weight: bold;
}

.navbar #secondary-group #search-box a::before {
  content: "\1F50D";
}

.navbar #secondary-group #search-box > form {
  display: none;
}

.navbar #secondary-group #search-box:hover > form {
  display: initial;
}

/* Upside down triangle used with span*/
.caret {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.navbar #secondary-group #alert-menu {
  position: absolute;
  display: none;
  width: 250px;
  right: 60px;
  top: 50px;
  background-color: #000;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.navbar #secondary-group #alert-menu li {
  margin: 8px;
}

.navbar #secondary-group #alert-menu a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar #secondary-group #alert-menu a img {
  margin: 5px;
}

.navbar #secondary-group #alert-menu a > span {
  font-size: 0.8em;
}

.navbar #secondary-group #alert-control:hover #alert-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar #secondary-group #user-menu {
  position: absolute;
  display: none;
  width: 180px;
  right: 0;
  top: 50px;
  background-color: #000;
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.navbar #secondary-group #user-menu li {
  margin: 8px 0;
  padding: 0;
  width: 100%;
}

.navbar #secondary-group #user-menu li > hr {
  width: 100%;
}

.navbar #secondary-group #user-menu a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  padding: 0 8px;
}

.navbar #secondary-group #user-menu a img {
  margin: 5px;
}

.navbar #secondary-group #user-control:hover #user-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar #secondary-group #user-control #user-menu .kids-option-submenu {
  display: none;
}

/* End Code that won't change at all */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  #browse-control {
    display: none;
  }
  #browse-control-menu {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) and (min-width: 769px) {
  .navbar #main-group .browse-menu-hide {
    display: none;
  }

  .navbar #main-group #browse-control {
    display: block;
    color: #fff;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar #secondary-group #user-control #user-menu .kids-option-submenu {
    display: block;
  }

  .navbar #secondary-group #kids-option-menu {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .navbar #secondary-group .kids-option-submenu {
    display: block;
  }

  .navbar #secondary-group #kids-option-menu {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

/* End of Carlos A. CSS nav code */

/* Carrousel */

.section-title {
  font-size: 1.7vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 0.5em;
}

.movie-list-wraper {
  position: absolute;
  z-index: 1;
}

.movie-list {
  display: flex;
  justify-content: flex-start;
  transition-duration: 0.45s;
  transition-property: transform;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
  padding-top: 3%;
  padding-bottom: 3%;
}
.movie-list::-webkit-scrollbar {
  width: 0 !important;
}

.movie {
  box-sizing: border-box;
  font-size: 0.7em;
  color: white;
  margin: 0 10px;
  line-height: 1.4;
  padding: 0 10px;
  width: 245px;
  height: 138px;
  flex-shrink: 0;
  background-size: contain;
  transition-duration: 0.45s;
  transition-property: transform;
  background-image: url(https://occ-0-2173-185.1.nflxso.net/dnm/api/v6/0DW6CdE4gYtYx8iy3aj8gs9WtXE/AAAABRjc7evggkSg5StSFX2k-Iu_B6JwN3OGw6U4GIHIroA67WmUlduG_oFGCLDJRZbN1fnG2bsOxTkqQmYUZv9bndtQsofanT7y.webp?r=146);
}

.movie-info-wrapper {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movie p {
  margin: 0;
}

.movie > div {
  opacity: 0;
}

.movie:hover > div {
  opacity: 1;
}
.movie-list:hover .movie:hover {
  transform: scale(1.5) translateX(40px);
}

.movie:hover ~ .movie {
  transform: translateX(120px);
}

.icon-play {
  width: 7%;
  height: 7%;
  fill: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px 1% 3px 2%;
  background-color: rgba(0, 0, 0, 0.63);
}

.movie-info-wrapper:hover .icon-play {
  fill: #e63d26;
}

.movie-title {
  font-size: 1.2em;
  font-weight: bold;
}

.movie-details .accuracy {
  color: #67d469;
}

.movie-details .age {
  border: 1px solid white;
  padding: 0 5%;
}

.movie-categories {
  font-size: 0.8em;
}

.movie-categories span {
  color: rgb(105, 105, 105);
}

.movie-reactions {
  width: 20%;
}

.movie-reactions svg {
  display: block;
  width: 20%;
  height: 20%;
  fill: white;
  border: 1px solid rgba(65, 65, 65, 0.74);
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.63);
  margin-top: 5px;
  transition-duration: 0.3s;
}

.movie-reactions svg:hover {
  border: 1px solid white;
  transform: scale(1.1);
}

.movie-extra {
  display: flex;
  justify-content: center;
}

.movie-extra svg {
  fill: white;
}

.movie-extra svg:hover {
  fill: #e63d26;
}

/* End Carrousel */
